# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
langchain-core~=0.3.59
dotenv~=0.9.9
python-dotenv~=1.1.0
langchain-openai~=0.3.18
langchain~=0.3.25